html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: url(rakibtg.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.container {
  height: 100%;
  width: 100%;
  background-color: rgba(175, 175, 175, 0.5);
}