html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: url(rakibtg.jpeg) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

div.container {
  height: inherit;
  background-color: rgba(175, 175, 175, 0.3);
  font-family: 'Droid Serif', serif;
  padding-top: 100px;
}

div.main-title {
  text-align: center;
  font-size: 80px;
  font-family: 'Sansita', sans-serif;
  color: #d4bdf1;
}

div.about {
  text-align: center;
  font-size: 23px;
  color: #d6d2a9;
  padding-top: 30px;
}